
<div class="">
  <section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-parent">
        <article class="tile is-child">
          <p class="title">
            <span class="icon" id="todoIcon" >
              <i class="fa fa-list" aria-hidden="true"></i>
            </span> 
            <span id="bigtodo">0</span>
          </p>
          <p class="subtitle">To Do</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child">
          <p class="title">
            <span class="icon" id="doingIcon">
              <i class="fa fa-hourglass-start" aria-hidden="true"></i>
            </span> 
            <span id="bigdoing">0</span>
          </p>
          <p class="subtitle"></p>          
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child">
          <p class="title">
            <span class="icon" id="doneIcon">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            </span> 
            <span id="bigdone">0</span>
          </p>
          <p class="subtitle">Done</p>          
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child">
          <p class="title">
            <span class="icon" id="poinIcon">
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
            <span id="bigpoin">0</span>
          </p>
          <p class="subtitle">Poin</p>
        </article>
      </div>
    </div>
  </section>

<section class="chart-section">
  <canvas id="statusChart">Chart Feedback</canvas>
</section>

  <div class="columns">
    <div class="">
      <div class="card events-card">
        <header class="card-header ">
          <p class="card-header-title">Commit Hostory</p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-table ">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody id="list">
                <table class="table-fixed">
                  <thead>
                    <tr>
                      <th>Project</th>
                      <th>Detail</th>
                      <th>URL</th>
                    </tr>
                  </thead>
                  <tbody id="logcommit">
                  </tbody>
                </table>
              </tbody>
            </table>
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item ">
            <span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> View All
          </a>
        </footer>
      </div>

      <div class="card events-card ">
        <header class="card-header">
          <p class="card-header-title">Feedback History</p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
                <table class="table-fixed">
                  <thead>
                    <tr>
                      <th>Solution</th>
                      <th>Comment</th>
                      <th>Rating</th>
                    </tr>
                  </thead>
                  <tbody id="uxhistory">
                  </tbody>
                </table>
            </table>
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">
            <span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> View All
          </a>
        </footer>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>  
