.table-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  table-layout: fixed; /* Ensure table fits the container */
}
th,
td {
  word-wrap: break-word; /* Ensure content wraps within cells */
  white-space: normal; /* Ensure content wraps within cells */
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reveal-text {
  cursor: pointer;
  color: blue;
}

.code-box {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}
code {
  color: #1e1e1e;
  background: transparent;
}

.code-box .copy-btn {
  display: none;
}

.code-box:hover .copy-btn {
  display: inline-block; /* Show button on hover */
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.field label {
  float: left;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.button.is-primary {
  background: linear-gradient(135deg, #38C7DB, #6825D0);
  color: white;
  border: none;
  box-shadow: 0 4px 10px rgba(50, 115, 220, 0.2);
  background-size: 200% 200%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button.is-primary:hover {
  animation: gradient-shift 3s ease infinite;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(50, 115, 220, 0.3);
}

/* Animation for smooth color shifting */
@keyframes gradient-shift {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}