<section class="section">
  <div class="container">
    <h1 class="title">Tambah Member ke Proyek</h1>
    <div class="field">
      <label class="label">Nama Proyek</label>
      <div class="control">
        <div class="select">
          <select id="project-name" name="projectName" required>
            <!-- Options akan diisi melalui JavaScript -->
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Nomor Telepon Calon Member</label>
      <div class="control">
        <input class="input" type="tel" id="phonenumber" name="phonenumber" placeholder="628111" required />
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit" id="tombolaksesmember">Tambah Member</button>
      </div>
    </div>
  </div>
</section>
