<div class="container">
  <h1 class="title py-3">Project Members</h1>

  <div class="notification is-link box">
    <button class="delete"></button>
    On your payload URL, please change your <code>[githost]</code> with <strong>github</strong> or <strong>gitlab</strong>
  </div>

  <div class="table-wrapper mt-4">
    <table id="myTable" class="display table is-striped is-hoverable">
      <thead>
        <tr>
          <th>
            <span class="icon"><i class="fa fa-user"></i></span> Name
          </th>
          <th>
            <span class="icon"><i class="fa fa-lock"></i></span> Secret
          </th>
          <th>
            <span class="icon"><i class="fa fa-link"></i></span> Payload URL
          </th>
          <th>
            <span class="icon"><i class="fa fa-info-circle"></i></span> Description
          </th>
        </tr>
      </thead>
      <tbody id="webhook-table-body">
        <!-- Rows will be populated by JavaScript -->
      </tbody>
    </table>
  </div>
</div>
