<!-- Tambahkan CDN Boxicons untuk ikon -->
<div class="container">
  <h1 class="title py-3"><i class="bx bx-user"></i> Project Owner</h1>
  <button id="addButton" class="button is-primary box btn-flex"><i class="bx bx-plus"></i> Add a new project</button>
  <table id="myTable" class="display table is-stripped">
    <thead>
      <tr>
        <th><span class="icon"><i class="bx bx-folder"></i></span> Project</th>
        <th><span class="icon"><i class="bx bx-group"></i></span> Members</th>
        <th><span class="icon"><i class="bx bx-detail"></i></span> Description</th>
        <th><span class="icon"><i class="bx bx-cog"></i></span> Actions</th>
      </tr>
    </thead>
    <tbody id="webhook-table-body">
      <!-- Rows will be populated by JavaScript -->
    </tbody>
  </table>
</div>
