<div class="box">
  <h1 class="title has-text-centered">Update Account Information</h1>
  <div class="field">
    <label class="label">Phone Number</label>
    <div class="control has-icons-left">
      <input class="input is-static" id="phonenumber" name="phonenumber" type="tel" placeholder="Nomor tidak dapat diubah" />
    </div>
  </div>

  <div class="field">
    <label class="label">Alternative Name</label>
    <div class="control has-icons-left">
      <input class="input is-static" id="name" name="name" type="text" placeholder="Alias tidak dapat diubah" />
    </div>
  </div>

  <div class="field">
    <label class="label">Email Installed on Android/iPhone</label>
    <div class="control has-icons-left">
      <input class="input" id="email" name="email" type="email" placeholder="Masukkan email" />
    </div>
  </div>

  <div class="field">
    <label class="label">GitHub Username</label>
    <div class="control has-icons-left">
      <input class="input" id="githubusername" name="githubusername" type="text" placeholder="Masukkan GitHub Username" />
    </div>
  </div>

  <div class="field">
    <label class="label">GitLab Username</label>
    <div class="control has-icons-left">
      <input class="input" id="gitlabusername" name="gitlabusername" type="text" placeholder="Masukkan GitLab Username" />
    </div>
  </div>

  <div class="field">
    <label class="label">Githost Username</label>
    <div class="control has-icons-left">
      <input class="input" id="githostusername" name="githostusername" type="text" placeholder="Masukkan Githost Username" />
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" id="buttonkirimaccount">Send</button>
    </div>
    <div class="control">
      <button class="button is-danger" id="buttonbatalaccount">Cancel</button>
    </div>
  </div>
</div>
