<body>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-12">
                <h3 class="title hero-title" id="judul">Linked Device</h3>
                <hr class="login-hr">
                <p class="subtitle" id="ket">Linked Device WhatsApp Anda di Sistem ini</p>
                <div class="box">
                    <figure class="avatar" id="avatar">
                        <img id="gambar" src="assets/img/linkdevice.jpg" alt="Linked Device">
                    </figure>
                    <div id="nama" class="mt-4">
                        <button id="btn" class="button is-large is-fullwidth">
                            Linked My Device <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
